module ossec-rhel7plus-selinux 1.0;

require {
        type default_t;
        type init_t;
        type checkpolicy_exec_t;
        type rngd_t;
        type lvm_metadata_t;
        type ssh_exec_t;
        type NetworkManager_t;
        type dmidecode_exec_t;
        type policykit_t;
        type system_cron_spool_t;
        type chronyd_t;
        type tuned_t;
        type unconfined_t;
        type firewalld_t;
        type crontab_exec_t;
        type sshd_t;
        type system_map_t;
        type crack_exec_t;
        type gpg_exec_t;
        type crond_t;
        type systemd_logind_t;
        type sshd_key_t;
        type irqbalance_t;
        type sssd_t;
        type getty_t;
        type auditd_t;
        type ssh_agent_exec_t;
        type load_policy_exec_t;
        type gpg_agent_exec_t;
        type postfix_postqueue_exec_t;
        type systemd_resolved_t;
        type su_exec_t;
        type postfix_map_exec_t;
        type kernel_t;
        type bootloader_exec_t;
        type setroubleshootd_t;
        type udev_t;
        type dnssec_t;
        type syslogd_t;
        type vlock_exec_t;
        type system_dbusd_t;
        type unconfined_service_t;
        type passwd_exec_t;
        type sudo_exec_t;
        type pam_timestamp_exec_t;
        type admin_passwd_exec_t;
        type login_exec_t;
        type postfix_postdrop_exec_t;
        type pinentry_exec_t;
        class sock_file { create write setattr unlink };
        class file { append map setattr execute execute_no_trans ioctl create link unlink open read write };
        class process { execmem getsession };
}

#============= init_t ==============
allow init_t NetworkManager_t:process getsession;
allow init_t admin_passwd_exec_t:file { open read };
allow init_t auditd_t:process getsession;
allow init_t bootloader_exec_t:file { open read };
allow init_t checkpolicy_exec_t:file { open read };
allow init_t chronyd_t:process getsession;
allow init_t crack_exec_t:file { open read };
allow init_t crond_t:process getsession;
allow init_t crontab_exec_t:file { open read };
allow init_t dmidecode_exec_t:file { open read };
allow init_t dnssec_t:file { open read };
allow init_t firewalld_t:process getsession;
allow init_t getty_t:process getsession;
allow init_t gpg_agent_exec_t:file { open read };
allow init_t gpg_exec_t:file { open read };
allow init_t irqbalance_t:process getsession;
allow init_t kernel_t:process getsession;
allow init_t load_policy_exec_t:file { open read };
allow init_t login_exec_t:file { open read };
allow init_t lvm_metadata_t:file { open read };
allow init_t pam_timestamp_exec_t:file { open read };
allow init_t passwd_exec_t:file { open read };
allow init_t pinentry_exec_t:file { open read };
allow init_t policykit_t:process getsession;
allow init_t postfix_map_exec_t:file { open read };
allow init_t postfix_postdrop_exec_t:file { open read };
allow init_t postfix_postqueue_exec_t:file { open read };
allow init_t rngd_t:process getsession;
allow init_t setroubleshootd_t:process getsession;
allow init_t ssh_agent_exec_t:file { open read };
allow init_t ssh_exec_t:file { open read };
allow init_t sshd_key_t:file { open read };
allow init_t sshd_t:process getsession;
allow init_t sssd_t:process getsession;
allow init_t su_exec_t:file { open read };
allow init_t sudo_exec_t:file { open read };
allow init_t syslogd_t:process getsession;
allow init_t system_cron_spool_t:file { open read };
allow init_t system_dbusd_t:process getsession;
allow init_t system_map_t:file { open read };
allow init_t systemd_logind_t:process getsession;
allow init_t systemd_resolved_t:process getsession;
allow init_t tuned_t:process getsession;
allow init_t udev_t:process getsession;
allow init_t unconfined_service_t:process getsession;
allow init_t unconfined_t:process getsession;
allow init_t vlock_exec_t:file { open read };
allow init_t default_t:file { append setattr map execute execute_no_trans ioctl create link unlink open read write };
allow init_t default_t:sock_file { create write setattr unlink };
allow init_t self:process { execmem getsession };
